.MainContainer {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  gap: 12px;
  align-items: center;
}

.container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.simpleButton {
    padding: 8px 12px;
    width: 180px;
    background-color: rgb(88, 100, 112);
    color: rgb(218, 216, 216);
    border-radius: 24px;
    border: none;
    box-shadow: 0 4px 6px rgba(48, 39, 39, 0.3);
}

.simpleButton:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.note {
  font-size: 16px;
}